<p>
  Welcome
</p>
<form class="character" #playerInfo="ngForm" (ngSubmit)="createPlayer(playerInfo); false">
  <label for="name">Name</label>
  <input type="text" name="name" required ngModel>
  <label for="side1">Side Length 1</label>
  <input type="number" name="side1" required ngModel>
  <label for="side2">Side Length 2</label>
  <input type="number" name="side2" required ngModel>
  <label for="side3">Side Length 3</label>
  <input type="number" name="side3" required ngModel>
  <button type="submit" name="button">Submit</button>
</form>

<div class="" *ngIf="notATriangle">
  <h1>Fuck you, you're not a triangle. Get off Barbara's porch.</h1>
</div>
